@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
.main {
    margin-top: 80px;
    .article {
        .title {
            color: rgb(17, 17, 17);
            font-family: Montserrat;
            font-weight: 700;
        }
        .link {
            cursor: pointer;
        }
        .thumbnail {
            width: 100%;
        }
        .content{
            font-family: Roboto;
            color: rgb(68,68,68);
            font-weight: 400;
            text-align: justify;
        }
    }
}

@include media-breakpoint-down(sm) {
    .main {
        margin-top: 30px;
        .article {
            .title {
                font-size: 24px;
                font-weight: 700;
                line-height: 22.2px;
            }
            .link {
                font-size: 12px;
            }
            .thumbnail {
                margin-top: 20px;
            }
            .content{
                margin-top: 30px;
                font-size: 12px;
                font-weight: 400;
                line-height: 16.5px;
                text-align: justify;
            }
        }
    }
}
@include media-breakpoint-between(sm, lg) {
    .main {
        margin-top: 80px;
        .article {
            .title {
                font-size: 30px;
                font-weight: 700;
                line-height: 43.2px;
            }
            .link {
                font-size: 15px;
            }
            .thumbnail {
                margin-top: 30px;
            }
            .content{
                margin-top: 40px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20.5px;
                text-align: justify;
            }
        }
    }
}
@include media-breakpoint-up(lg){
    .main {
        margin-top: 80px;
        .article {
            .title {
                font-size: 36px;
                font-weight: 700;
                line-height: 43.2px;
            }
            .link {
                font-size: 18px;
            }
            .thumbnail {
                margin-top: 50px;
            }
            .content{
                margin-top: 50px;
                font-size: 15px;
                font-weight: 400;
                line-height: 25.5px;
                text-align: justify;
            }
        }
    }
}
