@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.header {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    .navbar {
        background: #111;
        .logo {
            margin: auto;
            filter: invert(1);
            cursor: pointer;
        }
        
    }
    
}
.footer {
    width: 100%;
    color: #fff;
    font-family: Montserrat;
    background: #111;
    text-align: right;
    display: flex;
    align-items: center;
}
.overlay-btn {
    z-index: 9999;
    position: fixed;
    .go-to-top-btn {
        cursor: pointer;
        color: #111;
        .icon{
            border-radius: 50%;
            background: #fff;
        }
    }
}
@include media-breakpoint-down(md) {
    .header {
        .navbar {
            .navbar-toggler{
                color: #fff;
            }
            .navbar-collapse{
                font-family: Montserrat;
                .nav-link {
                    color: #fff;
                }
            }
            .collapse {
                transition: transform .35s, opacity .35s, max-height .35s ease-out;
                opacity: 0;
                max-height: 0;
                // transform: translateY(100%);
                display: block !important;
              
                &.show {
                  opacity: 1;
                  max-height: 600px;
                  // transform: translateY(0);
                }
              }
        }
        
    }
    .overlay-btn{
        bottom: 40px;
        right: 20px;
        .go-to-top-btn{
            font-size: 30px;
        }
    }
    .footer{
        height: 40px;
    }
}
@include media-breakpoint-between(md, lg) {
    .overlay-btn {
        bottom: 80px;
        right: 30px;
        .go-to-top-btn {
            font-size: 40px;
        }
    }
    .footer{
        height: 80px;
    }
}
@include media-breakpoint-up(lg) {
    .overlay-btn {
        bottom: 100px;
        right: 50px;
        .go-to-top-btn {
            font-size: 60px;
        }
    }
    .footer{
        height: 100px;
    }
}
