@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.main {
    
    .first-article-wrapper {
        .first-article-thumbnail-container {
            .first-article-thumbnail {
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }

        .first-article {
            .title {
                cursor: pointer;
                color: #111;
                font-family: Montserrat;
                font-weight: 700;
            }
            .excerpt {
                margin-top: 30px;
                text-align: justify;
                font-weight: 400;
                font-family: Montserrat;
                color: rgb(68, 68, 68);
            }
        }
    }
    
    .article-wrapper {
        display: inline-flex;
        margin-top: 50px;
        .article-thumbnail-container {
            padding-left: 0;
            padding-right: 0;
            .article-thumbnail {
                width: 100%;
                height: 100%;
                border: #ccc solid 1px;
                cursor: pointer;
            }
        }
        .article {
            font-family: Montserrat;
            .title {
                cursor: pointer;
                line-height: 28.8px;
                color: rgb(13, 13, 13);
                font-weight: 700;
            }
            .excerpt {
                margin-top: 10px;
                text-align: justify;
                font-weight: 400;
                color: rgb(68, 68, 68);
            }
        }
    }
}


@include media-breakpoint-down(sm) {
    .main {
        margin-top: 30px;
        .first-article-wrapper{
            height: 400px;
            .first-article-thumbnail-container{
                height: 200px;
            }
            .first-article {
                height: 200px;
                margin-top: 20px;
                .title{
                    line-height: 16.8px;
                    font-size: 18px;
                }
                .excerpt{
                    font-size: 12px;
                }
            }
        }
        .article-wrapper{
            height: 300px;
            display: inline-block;
            .article-thumbnail-container{
                height: 150px;
            }
            .article{
                margin-top: 20px;
                .title{
                    line-height: 16.8px;
                    height: 40px;
                    font-size: 16px;
                }
                .excerpt{
                    font-size: 11px;
                }
            }
        }
        
    }
}
@include media-breakpoint-between(sm, lg) {
    .main {
        margin-top: 80px;
        .first-article-wrapper{
            height: 600px;
            .first-article-thumbnail-container{
                height: 400px;
            }
            .first-article {
                height: 200px;
                .title{
                    font-size: 22px;
                }
                .excerpt{
                    font-size: 13px;
                }
            }
        }
        .article-wrapper{
            height: 140px;
            .article-thumbnail-container{
                height: 140px;
            }
            .article{
                .title{
                    line-height: 24.8px;
                    height: 50px;
                    font-size: 20px;
                }
                .excerpt{
                    font-size: 12px;
                }
            }
        }
        
    }
}
@include media-breakpoint-up(lg) {
    .main {
        margin-top: 80px;
        .first-article-wrapper {
            height: 400px;
            .first-article-thumbnail-container {
                height: 400px;
                
            }
    
            .first-article {
                .title {
                    font-size: 24px;
                }
                .excerpt {
                    font-size: 14px;
                }
            }
        }
        
        .article-wrapper {
            height: 180px;
            .article-thumbnail-container {
                height: 180px;
                .article-thumbnail {
                }
            }
            .article {
                .title {
                    line-height: 28.8px;
                    height: 80px;
                    font-size: 22px;
                    font-weight: 700;
                }
                .excerpt {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}

