<div class="container main" infiniteScroll *ngIf="!loading"
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="onScroll()">
    <div class="first-article-wrapper row" *ngIf="firstArticle">
        <div class="first-article-thumbnail-container col-12 col-lg-6" >
          <img class="first-article-thumbnail" [src]="firstArticle.image" onError="this.src = '/assets/no_image.jpg'" (click)="readArticle(firstArticle)" >
        </div>
        <div class="first-article col-12 col-lg-6">
          <div class="title" (click)="readArticle(firstArticle)">{{firstArticle.title}}</div>
          <div class="excerpt">{{firstArticle.excerpt}}</div>
        </div>
    </div>
    <div class="articles-wrapper row" >
      <div class="article-wrapper col-12 col-lg-10" *ngFor="let article of articleList; let i = index" >
          <div class="article-thumbnail-container col-12 col-sm-4 col-md-3 col-lg-4">
            <img class="article-thumbnail" [src]="article.image" onError="this.src = '/assets/no_image.jpg'" (click)="readArticle(article)">
          </div>
          <div class="article no-padding-xs col-12 col-sm-8 col-md-9 col-lg-8">
            <div class="title" (click)="readArticle(article)">{{article.title}}</div>
            <div class="excerpt" [innerHtml]="article.excerpt"></div>
        </div>
      </div>
    </div>    
</div>
